<phpunit bootstrap="tests/bootstrap.php" colors="true"
	failOnRisky="true"
	failOnWarning="true"
	beStrictAboutTestsThatDoNotTestAnything="true">
	<testsuites>
		<testsuite name="IP2Location.io PHP SDK Testcases">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
